.EduContainer{
    width: 70%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2.5%;
    background-color: white;
    border-radius: 20px;
}