.container {
    width: 60%;
    margin: 0 auto;
    padding: 2.25rem;
    border-radius: 18px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    transition: box-shadow 0.3s;
}

.container:hover {
    box-shadow: 0 9px 27px rgba(0, 0, 0, 0.15);
}

.headerContent {
    height: 400px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.leftTop {
    width: 37%;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.leftTop img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
}

.rightTop {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rightTop h1 {
    font-size: 18px;
    font-weight: bold;
}

.rightTop .detail {
    font-size: 18px;
}

.rightTop .detail strong {
    font-size: inherit;
}

.mainContent {
    width: 100%;
    margin-top: 2rem;
}

.mainContent img {
    width: 75%;
    height: auto;
    margin: 0 auto 1.5rem;
    display: block;
}

/* 헤더 및 디테일 스타일 */
.header {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 1.5rem;
    color: #2c3e50;
    border-bottom: 2px solid #ecf0f1;
    padding-bottom: 1rem;
}

.typeEDU {
    background-color: #52bbff;
    padding: 3px 12px;
    display: inline-block;
    color: white;
    border-radius: 4px;
    font-size: 16px;
}

.typeBUSINESS {
    background-color: #a38ced;
    padding: 3px 12px;
    display: inline-block;
    color: white;
    border-radius: 4px;
    font-size: 16px;
}

.detail {
    margin-bottom: 0.7rem;
    font-size: 27.2px;
    color: #34495e;
}

.detail strong {
    font-weight: 600;
    color: #2c3e50;
}

.detailContent {
    white-space: pre-line;
    line-height: 1.6;
    color: black;
    font-size: 18px;
}

.applyButton {
    font-size: 22px;
    padding: 7px 30px;
    background-color: #a38ced;
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
}

.applyButton:hover {
    background-color: #53468b;
}

.applyButton:active {
    transform: scale(0.95);
}
