@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&family=IBM+Plex+Mono&family=Nanum+Gothic&family=Orbit&family=Prompt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap');

/*Gothic*/

@font-face {
    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap') format('ttf')
}


/*Orbit*/
@font-face {
    font-family: 'Orbit', sans-serif;
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.googleapis.com/css2?family=Orbit&display=swap') format('ttf')
}

/*IBM Plex Sans KR*/

@font-face {
    font-family: 'IBM Plex Mono', monospace;
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap') format('ttf')
}

/*Prompt*/

@font-face {
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.googleapis.com/css2?family=Prompt&display=swap') format('ttf')
}

/*Noto Sans Korean*/

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+Korean=swap') format('ttf')
}

/*Roboto Mono*/

@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap') format('ttf')
}

/*IBM Plex Sans KR*/

@font-face {
    font-family: 'IBM Plex Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swapp') format('ttf')
}


