.postDetailPage {
    max-width: 60%;
    margin: 0 auto;
    /*padding: 20px;*/
    /*border: 1px solid #ccc;*/
    /*border-radius: 5px;*/
    /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);*/
    margin-bottom: 8%;
    background-color: white;
    border-radius: 20px;
}



.postMeta{
    margin-top: 5%;
    margin-bottom: 50px;
}

.content{
    margin-bottom: 100px;
}


.postButton {
    margin: 0 auto;
}

.postButton button {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border-radius: 3px;

    max-width: 100px;
    margin-left: 5px;
    align-items: center;
    text-align: center;
    background-color: #a38ced;
    color: #fff;
    border: none;
    cursor: pointer;

}

.postButton button:hover {
    background-color: #53468b;
}