.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalStack {
    width: 30%;
    background-color: white;
    padding: 20px;
    outline: none;
    border-radius: 5px;
}

.tabButtons {
    display: flex;
}

.tabButton {
    font-size: 20px;
    color: #a38ced;
    font-weight: bold;
}