.navButton {
    position: fixed;
    top: calc(100vh / 2.5);
    left: calc(100vw / 30);
    z-index: 1000;
    background-color: skyblue;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: none;
    color: white;
    cursor: pointer;
    outline: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(1vw + 1vh);
    overflow: hidden;
}

.navButton:hover {
    background-color: deepskyblue;
}