/* SearchComponent.module.css */

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
    font-size: 12px;
    font-weight: bold;
}

.left {
    flex: 1;
    text-align: left;
    display: flex;
    gap: 10px; /* 간격 설정 */
}

.right {
    display: flex;
    gap: 10px; /* 요소들 사이의 간격 */
}

.right button {
    border: 1px solid #969696;
    border-radius: 3px;
    cursor: pointer; /* 마우스 오버시 포인터로 변경 */
}
.right select {
    border: 1px solid #969696;
    border-radius: 3px;
}
