
.App {
    font-family:'IBM Plex Sans KR', sans-serif;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }


}

body::-webkit-scrollbar {
    display: none;
}


.cinnamoroll-bg {
    background-size: 100%;
    background-position: center center; /* 가운데에 이미지를 위치시킵니다 */
    background-repeat: no-repeat; /* 이미지가 반복되지 않도록 합니다 */
}
